<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="origin-trial"
          content="AgEv9TngBU+saVhafPA9Z1+6IpCCXCKi1EGlqCYo283ye60kFvol2fF/PINTmSDs78YylIMm2I9eHjZphUHmEgkAAABreyJvcmlnaW4iOiJodHRwczovL2luc3BpcmFuZXNpYS5pZDo0NDMiLCJmZWF0dXJlIjoiV2ViQXNzZW1ibHlTaW1kIiwiZXhwaXJ5IjoxNjA3NTY2Mzc3LCJpc1N1YmRvbWFpbiI6dHJ1ZX0=">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link type="text/css" rel="stylesheet" th:href="@{~/css/bootstrap.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{~/css/react-select.css}"/>
    <script async th:inline="javascript">
        /*
            <![CDATA[*/
        var meetingConfig = /*[[${meetingConfig}]]*/ '{}';
        /*]]
    */
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116347823-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-116347823-3');
        gtag('set', {'user_id': "'" + meetingConfig.userEmail + "'"});
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K7Q7BWJ');
    </script>
    <!-- End Google Tag Manager -->
    <title>Inspiranesia - Kelas Untuk Semua</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K7Q7BWJ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="zmmtg-root"></div>
<div th:replace="error-modal :: modal"></div>
<script defer th:src="@{~/js/react.min.js}"></script>
<script defer th:src="@{~/js/react-dom.min.js}"></script>
<script defer th:src="@{~/js/redux.min.js}"></script>
<script defer th:src="@{~/js/redux-thunk.min.js}"></script>
<script defer th:src="@{~/js/jquery.min.js}"></script>
<script defer th:src="@{~/js/lodash.min.js}"></script>
<script defer th:src="@{~/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
<script defer th:src="@{~/js/zoom-meeting.min.js}"></script>
<script defer src="https://unpkg.com/@popperjs/core@2"></script>
<script defer th:src="@{~/js/fallback.js}"></script>
</body>
</html>
