<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Register - Inspiranesia Course</title>
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,800;1,400&display=swap" rel="stylesheet" media="print" onload="this.media='all'">
	<link type="text/css" th:rel="stylesheet" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
	<link type="text/css" th:rel="stylesheet" href="webjars/font-awesome/4.7.0/css/font-awesome.min.css">
	<link th:href="@{~/css/commons.css}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/my-login.css">
	<link rel="stylesheet" th:href="@{~/css/tempusdominus-bootstrap-4.min.css}" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116347823-3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-116347823-3');
	</script>
	<!-- Google Tag Manager -->
	<script>
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
					new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-K7Q7BWJ');
	</script>
	<!-- End Google Tag Manager -->
</head>
<body class="my-login-page">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K7Q7BWJ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="images/logo_black.png">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Register</h4>
							<form method="POST" th:action="@{/register}" th:object="${registerRequest}" class="my-login-validation" novalidate="">
								<div class="form-group row">
									<div class="col-md-6">
										<label for="first-name">First Name</label>
										<input id="first-name" type="text" class="form-control" name="firstName" required="" autofocus="">
									</div>
									<div class="col-md-6">
										<label for="last-name">Last Name</label>
										<input id="last-name" type="text" class="form-control" name="lastName" required="" autofocus="">
									</div>
									<div class="invalid-feedback">
										What's your name?
									</div>
								</div>

								<div class="form-group">
									<label for="email">E-Mail Address</label>
									<input id="email" type="email" class="form-control" name="email" required>
									<div class="invalid-feedback">
										Your email is invalid
									</div>
								</div>
								
								<div class="form-group">
									<label for="dob">Date of Birth</label>
									<input id="dob" type="text" class="form-control datetimepicker-input" name="dateOfBirth" data-toggle="datetimepicker" data-target="#dob" required>
									<div class="invalid-feedback">
										Date of Birth is invalid
									</div>
								</div>

								<div class="form-group">
									<label for="password">Password</label>
									<input id="password" type="password" class="form-control" name="password" required data-eye>
									<div class="invalid-feedback">
										Password is required
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Register
									</button>
								</div>
								<div class="mt-4 text-center">
									Already have an account? <a href="/login">Login</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						&mdash; Inspiranesia Project
					</div>
				</div>
			</div>
		</div>
	</section>
	<script defer th:src="@{~/webjars/moment/2.27.0/min/moment.min.js}"></script>
	<script defer th:src="@{~/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script defer th:src="@{~/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
	<script defer type="text/javascript" th:src="@{~/js/tempusdominus-bootstrap-4.min.js}"></script>
	<script defer th:src="@{~/js/register.js}"></script>
</body>
</html>
